{% extends 'catalog/base.html' %}
{% load media_tags %}

{% block title %}Skystore{% endblock %}

{% block content %}
<div class='container-fluid'>
    <div class="row">
            <div class="col-md-3 col-10 mt-5">
                <div class="card mx-auto">
                    {% if product.image %}
                        <!-- Use the custom template filter -->
                        <img class='mx-auto img-thumbnail' src="{{ product.image.url|mediapath }}" alt="{{ product.name }}" width="auto" height="auto"/>
                    {% else %}
                        <!-- Construct the placeholder image URL based on the media root and a default image -->
                        <img class='mx-auto img-thumbnail' src="{{ 'no_image.png'|mediapath }}" alt="{{ product.name }}" width="auto" height="auto"/>
                    {% endif %}
                    <div class="card-body text-center mx-auto">
                        <div class='cvp'>
                            <h5 class="card-title font-weight-bold">{{ product.name }}</h5>
                            <h5 class="card-title font-weight-bold">Owner: {{ product.user.username }}</h5>
                            <h6 class="card-text">{{ product.description|slice:":100" }}</h6>
                            <p class="card-text">${{ product.price }}</p>
                            {% if product.user.email == user.email %}
                            <!-- The user is the owner of the product -->
                            <a href="{% url 'catalog:product_update' product.id %}" class="btn btn-outline-primary">Update</a>
                            <a href="{% url 'catalog:product_delete' product.id %}" class="btn btn-outline-danger">Delete</a>
                            <a href="{% url 'catalog:version_create' product.id %}" class="btn btn-outline-success">Add Version</a>
                            {% endif %}
                            <a href="#" class="btn btn-outline-primary px-auto my-2">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}
